.snowcrash-plugin-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.snowcrash-plugin-wrapper .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #333;
    padding: 15px;
    width: 30%;
    margin-bottom: 15px;
    min-width: 450px;
    max-width: 500px;
    transition: all .3s;
}
.snowcrash-plugin-wrapper .card img{
    height: 200px;
}